form {
    background-color: #eee;
    margin: 3rem;
    padding: 2rem;
    border-radius: 0.75rem;
    display: flex;
    box-shadow: 0.1rem 0.1rem 10px #000;
}

.new-expense-box{
    width: 50%;
}

form div label {
    padding: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.75rem;
    width: 80%;
}


form div label input{
    text-indent: 0.5rem;
    height: 1.75rem;
    width: 100%;
    border: 0.1rem solid gray;
    border-radius: 0.25rem;
    color: gray;
    box-shadow: inset 0.1rem 0.1rem 2px #44444422;
}

.checkbox-control{
    display: grid;
    grid-template-columns: auto 1rem;
    gap: 0.75rem;
    width: fit-content;
}

input[type="checkbox"]{
    /* add  if not using autoprefixer */
    -webkit-appearance: none;
    appearance: none;
    /* for ios < 15 to remove gradient background */
    background-color: #fff;
    /* not removed via appearance */
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1.5rem;
    height: 1.5rem;
    border: 0.1rem solid currentColor;
    border-radius: 0.2rem;
    transform: translateY(-0,075rem);
    display: grid;
    place-content: center;
}

input[type="checkbox"]::before{
    content: '';
    width: 0.8rem;
    height: 0.8rem;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1rem 1rem #27ae83;
    transform-origin: bottom left;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

input[type="checkbox"]:checked:before{
    transform: scale(1);
}

.create-expense-button {
    text-transform: uppercase;
    display: block;
    height: 1.75rem;
    padding: 0 1rem;
    margin: 1rem 20% 0 auto;
    border: 0.1rem solid #27ae83;
    border-radius: 0.25rem;
    color: #27ae83;
    transition: 120ms background-color ease-in;
    font-weight: bold;
    letter-spacing: 1px;
}

.create-expense-button:hover{
    background-color: #27ae83;
    color: #eee;
}
